:root{
    --font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle, #678199 , rgb(72, 95, 112));
}

.header-site{
    max-width: 100%;
}

.header-content{
    display: grid;
    grid-template-areas: "Menu Search Profile";
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 5rem;
    width: 100%;
    min-height: 80px;
    min-width: max-content;
    background-color: #678199;
}

.menu{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    grid-area: Menu;
}

.menu-bar, svg{
    padding: 5%;

}

.menu-container, .menu-nav{
    background-color: #678199;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu-container {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s; /* Smooth transition for width */

}

.menu-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    position: fixed; /* Keep the menu button fixed at the top */
    z-index: 1000; /* Ensure the menu button is above other content */
}

#menu{
    padding: 3.5vh;
    text-align: center;
    font-size: larger;
    font-family: var(--font);
    font-size: 1.5em;
    font-weight: bold;
    border-top-right-radius: 15px;
    background-color: rgb(36, 35, 35);
    color: white;

}


ul, li{
    display: block;
    width: 100%;
    padding: 4vh 3vh;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-family: var(--font);
    font-size: 1.3em;
    font-weight: bold;
}


#store:hover, #wishlist:hover, #mygame:hover{
    width: 60vh;
    background-color: #576a7d;
    color: white;
    border-radius: 15px;
    transform: translate(10px, -10px);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}


.webname a{
    text-decoration: none;
    color: black;
}

.name, h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    letter-spacing: 0.3rem;
    
}

.search-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: Search;
}

#search-bar{
    padding: 2%;
    width: 90%;
    background-color: #5c748a;
    border: none;
    box-shadow: 2px 3px 3px rgb(70, 55, 207);
}

#search-bar::placeholder{
    color:  darkgray;
    transition: opacity 0.3s ease;
}

#search-bar:focus::placeholder{
    opacity: 0;
}

#search-icon{
    position: absolute;
    top: 61%;
    right: 0.5px;
    transform: translateY(-50%);
}

.profile, .user{
    grid-area: Profile;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    position: relative;
    color: black;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5%;
}

.user img{
    border-radius: 5px;
    max-height: 40px;
    max-width: 40px;
    box-sizing: border-box;
    object-fit: contain;
    margin-right: 15px;
}

.home img{
    object-fit: contain;
    max-width: 100%;
    max-height: fit-content;
}

#recommended h2, #new-arrival h2{
    margin: 2% 0% 0% 2%;
}

.reco-game, .arrival-game{
    height: 70vh;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 80%;
    overflow: hidden;
}

.reco-game, .image-container, .arrival-game{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: -1.5rem;
}

.game-image, .arrival-game-images{
    display: flex;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to left, rgba(3, 48, 126, 0.785), rgba(1, 4, 36, 0.775));
}

.images{
    display: flex;
    transition: transform 0.9s ease-in-out;
}

.image-item, .arrival-image-item{
    display: flex;
    min-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.image-item img, .arrival-image-item img{
    width: 60%;
    height: 100%;
    box-shadow: 2px 6px 6px 3px black;
}

.detail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.detail h3{
    font-size: 2em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
    padding: 1%;
    width: 30vh;
    max-height: 10vh;

}

.descrip-img{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.descrip-img img{
    object-fit: cover;
    padding: 1% 1%;
    box-shadow: 5px 5px 10px 4px var(--bgcolor);
    max-width: 27vh;
}

.description h4{
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    max-width: fit-content;
    text-align: justify;
    margin-left: 8%;
    padding: 0% 2% 5% 2%;
} 

span{
    color: chartreuse;
}

.price{
    height: fit-content;
    padding: 1.5%;
    background-color: rgba(62, 67, 199, 0.841);
    color: aliceblue;
    border: 0.5px solid white;
    cursor: pointer;
    width: fit-content;
    min-width: fit-content;
    align-self: end;
    margin-right: 8%;
}

.arrow {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow button {
    cursor: pointer;
    font-size: 2em;
    color: #f5f2f2;
    user-select: none;
    background-color: rgba(60, 60, 66, 0.223);
    padding: 10px;
    height: 20vh;
    border: none;
}

/* .arrow button:hover {
    background: linear-gradient(to left, rgba(249, 250, 252, 0.355), rgba(126, 156, 200, 0.775), rgba(86, 132, 200, 0.775));
} */

.arrow-left {
    left: 0px;
}

.arrow-right {
    right: 0px;
}

footer{
    background-color: #5c748a;
    display: grid;
    grid-template-areas: "AboutUs Community ContactUs";
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 3%;
    border-top: 2px solid black;
}
footer h3{
    text-align: center;
    font-size: x-large;
    background-color: aqua;
}

.about-us{
    grid-area: AboutUs;
    padding: 4%;
    width: 100%;
    background-color: black;
}

.community{
    width: fit-content;
    grid-area: Community;
    padding: 2%;
    width: 100%;
    background-color: black;
}

.community ul, .contact-us ul{
    text-align: center;
    background-color: aliceblue;
}

.community li, .contact-us li{
    display: inline;
    font-size: x-small;
}

.contact-us{
    grid-area: ContactUs;
    width: 100%;
    padding: 4%;
    background-color: black;
}










